.todo {
  width: 100vw;
  height: 100vh;
  padding-bottom: 2rem;
}
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #172b4d;
  opacity: .5;
}
.todo-content {
  margin: 1rem;
}
.todo-top {
  display: flex;
  justify-content: space-between;
}
.card-wrapper, .todo-select {
  width: 15rem;
  height: 2.5rem;
  color: #fff;
  font-size: 1rem;
  border: 0;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
}
.todo-quantity-wrapper {
  display: flex;
  align-items: center;
  color: #fff;
}
.todo-quantity {
  width: 2.5rem;
  height: 2.5rem;
  color: #fff;
  font-size: 1rem;
  border: 0;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-left: .5rem;
  outline: none;
}
::placeholder {
  color: #fff;
  opacity: 1;
  text-align: center;
}
.card-preview-wrapper {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2vw;
}
.card-preview {
  display: column;
  width: 90%;
  height: auto;
  border: 0;
  margin-right: .8rem;
  padding: .8rem;
  border-radius: 4px;
  background-color: #ebecf0;
  color: #172b4d;
  p {
    margin: 0;
  }
}
.card-preview-text {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 1rem;
  input:focus {
    background-color: #fff;
  }
}
.card-buttons {
  display: flex;
  justify-content: flex-end;
  button {
    background-color: transparent;
    border: none;
  }
  img {
    width: 1.2rem;
    margin-left: .4rem;
  }
}
.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  p{
    width: 2rem;
    height: 2rem;
    border: 1px solid #dadada;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  p:last-child, p:first-child {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
.selected {
  background-color: rgba(23, 43, 77, .5);
}
