<div class="todo">
  <div class="header">
    <img src="https://a.trellocdn.com/prgb/dist/images/header-logo-2x.01ef898811a879595cea.png" alt="">
  </div>
  <div class="todo-content">
    <div class="">
      <div class="todo-top">
        <input class="card-wrapper"
               placeholder="Добавить карточку"
               [(ngModel)]="newTodo"
               (keyup.enter)="addTodo()"
               autofocus>

        <div class="todo-quantity-wrapper">
          <p>Количество страниц: </p>
          <button class="todo-quantity" [(ngModel)]="selectNum" ngDefaultControl (click)="quantity(10)" [class.selected]="selectNum === 10">10</button>
          <button class="todo-quantity" [(ngModel)]="selectNum" ngDefaultControl (click)="quantity(20)" [class.selected]="selectNum === 20">20</button>
          <button class="todo-quantity" [(ngModel)]="selectNum" ngDefaultControl (click)="quantity(30)" [class.selected]="selectNum === 30">30</button>
        </div>
      </div>
      <div class="card-preview-wrapper">
        <div class="card-preview" *ngFor="let todo of todos | slice:startIndex:endIndex">
          <img src="./../../assets/image.jpeg" alt="" width="100%">
          <div class="card-preview-text"  *ngIf="isShown !== todo.title">
            <p (click)="toggleShow(todo.title)">{{todo.title}}</p>
            <div class="card-buttons">
              <img src='./../../assets/edit.svg' alt="" (click)="toggleShow(todo.title)">
              <img src='./../../assets/delete.svg' alt="" (click)="destroyTodo(todo)">
            </div>
          </div>
          <div class="card-preview-text" *ngIf="isShown === todo.title">
            <input class="edit"
                   #updatedTodo
                   [value]="todo.title"
                   (blur)="updateTodo(todo, updatedTodo.value)"
                   (keyup.escape)="todo.editing = false"
                   (keyup.enter)="updateTodo(todo, updatedTodo.value)">
            <p (click)="updateTodo(todo, updatedTodo.value)">Изменить</p>
          </div>
        </div>
      </div>
        <div class="pagination">
          <p class="page-item" (click)="updateIndexFirst()">First</p>
          <p class="page-item" *ngFor="let page of getArrayFromNumber(todos.length); let in = index" (click)="onSelect(page)">
            <a class="page-link" (click)="updateIndex(in)">{{in+1}}</a>
          </p>
          <p class="page-item" (click)="updateIndexLast()">Last</p>
        </div>
    </div>
  </div>
</div>
